body {
  background-color: transparent;
}
body:before {
  content: '';
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.01;
  transition: opacity 1s;
  background: url("https://api.btstu.cn/sjbz/?lx=dongman&format=images&method=pc") center 0 no-repeat;
  background-size: cover;
}
@media screen and (max-width: screen-tablet -1) {
  body:before {
    background-image: url("https://api.btstu.cn/sjbz/?lx=dongman&format=images&method=mobile");
  }
}
body.ready:before {
  opacity: 1;
}
