<link rel="stylesheet" class="aplayer-secondary-style-marker" href="/assets/css/APlayer.min.css"><script src="/assets/js/APlayer.min.js" class="aplayer-secondary-script-marker"></script>.main-content{
	padding: 20px;
}

.each-list{
	padding-bottom: 10px;
}

.website-icon{
	border-radius: 50%;
}