<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script>.calendar{
    height: 350px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
}
.ca-title{
    height: 70px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    position: relative;
    text-align: center;
}
#calendar-title{
    font-size: 20px;
    margin:0;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0 0 0;
}
#calendar-year{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
#calendar-mid{
	float: left;
	width: 60%;
}
#pre{
	color: rgb(71,89,126);
	padding: 16px 0;
	margin: 0;
    float: left;
    font-size: 25px;
    width: 10%;
    height: 70px;
}
#sign{
	padding: 16px 0;
	color: rgb(71,89,126);
	margin: 0;
	float: left;
    font-size: 25px;
    width: 10%;
    height: 70px;
}
#next{
	padding: 16px 0;
	color: rgb(71,89,126);
	margin: 0;
	float: left;
    font-size: 25px;
    width: 10%;
    height: 70px;
}
#empty{
    padding: 16px 0;
	margin: 0;
	float: left;
    font-size: 25px;
    width: 10%;
    height: 70px;
}
.body-list ul{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
}  
.body-list ul li{
    list-style: none;
    /*
    display:inline-block; 
    width: 13.3%;
    */
    /*100/7 = 14.28%*/
    display: block;
    width: 13.3%;
    float: left;
    /*规定行高，垂直居中*/
    height: 36px;
    line-height: 36px;
    box-sizing: border-box;
    text-align: center;
}
.t-color{
    color: #e9f8df;
}
.lightgrey{ /*浅灰色显示过去的日期*/
    color:#a8a8a8;
}   
.darkgrey{ /*深灰色显示将来的日期*/
    color:#565656;
}
/*日期当天用绿色背景绿色文字加以显示*/
.todaybox{
    outline: 3px solid rgb(71,89,126);
}
.checkbox{
	background-color: rgba(57,162,219,0.1);
}
.signday{
	background-color: rgba(170,204,230,0.8);
}